@rendermode RenderMode.InteractiveServer
@inject IPeopleData sql

<h3 class="mb-3">Update Person</h3>
@if (people is null)
{
    <p>
        Loading...
    </p>
}
else
{
    <EditForm Model="selected" method="post" FormName="selectPersonForm" OnValidSubmit="LoadPersonToUpdate">
        <InputSelect @bind-Value="selected.Id" class="form-control">
            @foreach (var p in people)
            {
                <option value="@p.Id">@p.FirstName @p.LastName</option>
            }
        </InputSelect>
        <button class="btn btn-outline-primary my-3" type="submit">Select Person</button>
    </EditForm>

    @if (personToUpdate is not null)
    {
        <EditForm Model="personToUpdate" method="post" FormName="updatePersonForm" OnValidSubmit="UpdatePerson">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label>Id: </label>
                <span>@personToUpdate.Id</span>
            </div>

            <div class="mb-3">
                <label>First Name:</label>
                <InputText @bind-Value="personToUpdate.FirstName" />
            </div>

            <div class="mb-3">
                <label>Last Name:</label>
                <InputText @bind-Value="personToUpdate.LastName" />
            </div>

            <button class="btn btn-outline-primary" type="submit">Update Person</button>
        </EditForm>
    }
}

@code {
    private IEnumerable<PersonModel>? people;
    private PersonModel? personToUpdate;
    private SelectedPersonModel selected = new();
    private class SelectedPersonModel
    {
        public int Id { get; set; }
    }

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private void LoadPersonToUpdate()
    {
        var foundPerson = people.Where(p => p.Id == selected.Id).FirstOrDefault();

        if (foundPerson is not null)
        {
            personToUpdate = new();
            personToUpdate.Id = foundPerson.Id;
            personToUpdate.FirstName = foundPerson.FirstName;
            personToUpdate.LastName = foundPerson.LastName;
        }
        else
        {
            personToUpdate = null;
        }
    }

    private async Task RefreshData()
    {
        people = null;
        people = await sql.GetAllPeople();
    }

    private async Task UpdatePerson()
    {
        await sql.UpdatePerson(personToUpdate);
        personToUpdate = null;
        selected.Id = 0;
        await RefreshData();
    }
}
